<div class="pusher"></div>
</div>

<footer class="primary-footer">
  <div class="container row">
    <div class="span4 ql-logo">
      <h4><a href="http://quickleft.com">a <img src="/assets/img/ql.png"/> app</a></h4>
    </div>
    <div class="pull-right logo">
      <h4><a href="/wookiehangover">@wookiehangover</a></h4>
    </div>
  </div>
</footer>
</body>
</html>
