<%- include _header.ejs %>
<%- include _nav.ejs %>

<div class="row home-header">
  <div class="span6 hero">
    <h1>actualcoderwall.com</h1>
    <h3 class="garamond italic">It's not actually <a href="https://coderwall.com">Coderwall.com</a>. Just a better way of viewing your internet-github-vanity points*.</h3>
    <small>* Only for empty feelings of superiority and false accomplishment. Use only as directed.</small>
  </div>
  <div class="span4 offset1 bubble">
    <p>Shouldn't vanity sites be about <del>"you"</del>"me"?</p>
  </div>
  <div class="span6">
    <ul>
      <li>Track you internet points minus the social network crap.</li>
      <li>No Followers or Connections. Who Cares?</li>
      <li>No Job Board. Work is repetative bullshit anyway.</li>
      <li>No Networks. I don't even...</li>
      <li>No Teams. Work is repetative bullshit anyway.</li>
      <li>No Profiles. Just bagdges.</li>
      <li>No Pro tips. More like "just the tip."</li>
  </div>
</div>

<%- include _footer.ejs %>

