<%- include _header.ejs %>
<%- include _nav.ejs %>

<div class="row home-header">
  <div class="span6 hero">
    <h1>actualcoderwall.com</h1>
    <h3 class="garamond italic">It's not actually <a href="https://coderwall.com">Coderwall.com</a>. Just a better way of viewing your internet-github-vanity points*.</h3>
    <small>* Only for empty feelings of superiority and false accomplishment. Use only as directed.</small>
  </div>
  <div class="span4 offset1 bubble">
    <p>Shouldn't vanity sites be about you?</p>
  </div>
  <div class="span6">
    <ul>
      <li>Track you internet points minus the social network crap.</li>
      <li>No Followers or Connections. Who Cares?</li>
      <li>No Job Board. Work is repetitive bullshit anyway.</li>
      <li>No Networks. I don't even...</li>
      <li>No Teams. Work is repetitive bullshit anyway.</li>
      <li>No Profiles. Just bagdges.</li>
      <li>No Pro tips. More like "just the tip."</li>
    </ul>
    <hr/>
    <form>
      <label>http://actualcoderwall.com/
      <input name=username placeholder="username"/>
      <input type=submit value=Go /> </label>
    </form>

    <p>I really liked Coderwall when it first launched. The merit-badge concept
      made you feel good about your github accomplishments. As the site grew,
      more and more attempts to monetize this concept crept into the product.
      "Pro-tips," connections, teams, profile views, friends--all of these
      dilute the core of what was a very clever and (initially) well executed
      product. I set out to re-make your "actual" coderwall.</p>

    <p>So, I spent a few hours to proxy requests to Coderwall and re-present
      a stripped-down view of their profile data. Coderwall is awesome inasmuch
      that they provide easy access to JSON endpoints for profile data. More
      power to them as they expand their feature set, but for now, I want any
      vanity sites I visit to keep the focus on me, and not a bunch of social
      network stuff that I don't need more of in my life. So I cut it down to
      just the ego-boost part.</p>

    <p>This isn't affiliated with Coderwall. It's your "actual" coderwall.</p>

    <p>Built using Node.js (no frameworks) and bootstrap. Open source and on
      Github: <a
        href="https://github.com/wookiehangover/actualcoderwall.com">https://github.com/wookiehangover/actualcoderwall.com</a></p>

    <p>Keep chasing those internet points!</p>

    <p>&mdash;<a href="http://wookiehangover.com">wookiehangover</a>
  </div>
</div>

<%- include _footer.ejs %>

